@media only screen and (max-width: 600px) {

    .category-top-menu{
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap;
    }

    /* logo */
    img {
        width: 40%;
    }

    .category-top-menu::-webkit-scrollbar {
        display: none;
    }
    
    .list{
        width: 90%;
    }
}

@media only screen and (min-width: 1024px) {
   
    .menu {
        display: block;
        column-count: 2;

    }
    .category {
        break-inside: avoid;
        margin-left: 1em;
        margin-right: 1em;
    }

    #svinsko {
        padding-top: 0.07em;
    }

    li{
        padding: 0em 1em 0em 1em;
    }
  }