body {
    background: linear-gradient(50deg, rgb(135, 94, 60) 21%, rgb(192, 143, 102) 57%, rgb(160, 113, 75) 100%);
    font-family: 'Comfortaa', cursive;
    font-size: 18px;
    color: 	rgb(29, 29, 29);
}

.header{
    background-color: #FDFDFD;
}

/* Category */

.list, 
.category-top-menu{ 
    z-index: 1;
    background-color: rgba(255, 255, 255, .2);
    border-radius: 25px;
    filter: drop-shadow(0 0 1rem rgba(0, 0, 0, 0.9));
}

/* Navbar */

button {
    font-family: 'Comfortaa', cursive;
    font-size: 18px;
    color: rgb(29, 29, 29);
    border: none;
    background-color: rgba(109, 65, 37, 0);
    border-radius: 25px;
}

/* Logo */

.custom-shape-divider-top-1618756353 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1618756353 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 76px;
}

.custom-shape-divider-top-1618756353 .shape-fill {
    fill: #FDFDFD;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgb(201, 168, 136);
    margin: 0;
    margin-top: 0.5em;
}

li{
    padding-bottom: 8px;
    padding-top: 8px;
}
  
.sticky + .content {
  padding-top: 60px;
}

.menu {
    margin-bottom: 1em;
}

a {
    display: inline-block;
}

#item {
    width: 75%;
}
